body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  @font-face {
    font-family: "Norse Bold";
    src: url("images/Norse-Bold.otf");
  }

  .img {
    width: 45%;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img-description {
    background-position: center center;
  
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;

}
.a{
    color: #dfdedf;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 0.9rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


 
  .img-logo {
    display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  }
  .odin-img {
    max-width: 8rem;
  }.img-logo h1{
    margin-left: 1rem;
    font-size: 7rem;
    color: white;
    font-family: norse bold;
  }
  
    
    
 
.form {
    overflow: auto;
    width: 60%;
    margin: 0;
    padding: 0;
    margin-top: 5%;
  }
  .form > * {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .form-label {
    font-weight: 900;
    font-size: 20px;
    display: block;
    transition: all 0.5s;
    transform: translateY(-3.4rem);
  }
  
  .form-input {
    border: 2px solid gray;
    color: #333;
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;
    width: 100%;
    display: block;
    transition: all 0.5s;
    margin-top: 5%;
    padding-right: 10%;
  }
  .form-input:focus {
    transition: 0.2s;
    outline: none;
    border: 2px solid blue;
  }
  .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
  }
  form {
    padding-top: 3%;
    width: 80%;
    margin-left: 0%;
    background-color: rgba(0, 0, 0, 0.034);
  }
  .inputs {
    display: flex;
    flex-direction: row;
    width: 90%;
  }
  .inputs > :last-child {
    padding-left: 10%;
  }
  .form-end {
    margin-top: 20px;
    position: absolute;
    font-size: 10px;
  }
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    font-size: 30px;
    background: #044604;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
      inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
      0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #dfdedf;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    border-bottom: 2px solid rgb(139, 139, 139);
    border-right: 2px solid rgb(139, 139, 139);
  }

  .btn:hover {
    outline: 0;
    box-shadow: inset 0px 0.8px 1px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  }
  .login {
    color:#044604;
  }
  .error {
    border: 2px solid red;
  }
  .errorMessage {
    font-size: 25px;
    font-weight: 900;
    color: red;
  }
  